.logo-box {
    background-color: $darkBlue;
    height: 15vh;
    font-family: $logoFont;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo-item {
    font-size: 2.8rem;
}

.logo-letter {
    color: $yellow;
}

.text-box {
    background-color: $blue;
    height: 50vh;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.heading-primary {
    line-height: 1.7;
}

.heading-primary-main {
    display: block;
    font-size: 2rem;
    font-family: $headersFont;
}
.heading-primary-sub {
    display: block;
    font-size: 0.65rem;
    letter-spacing: 4px;
    
}