.skills {
    background-color: $red;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.skills-container {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills-box {
    border: solid 3px $orange;
    height: 40%;
    width: 90%;
    position: relative;
}

.box {
    position: absolute;
    font-family: $headersFont;
}

.box-foreground {
    width: 95%;
    height: 95%;
    font-size: 1.2rem;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    z-index: 2;
    margin: 0 1%;
}

.top-box .tech-item:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
}
.top-box .tech-item:nth-of-type(2) {
    grid-column: 2;
    grid-row: 4;
}
.top-box .tech-item:nth-of-type(3) {
    grid-column: 3;
    grid-row: 3;
}
.top-box .tech-item:nth-of-type(4) {
    grid-column: 3;
    grid-row: 5;
}

.bottom-box .tech-item:nth-of-type(1) {
    grid-column: 1;
    grid-row: 2;
}
.bottom-box .tech-item:nth-of-type(2) {
    grid-column: 3;
    grid-row: 5;
    text-align: right;
}
.bottom-box .tech-item:nth-of-type(3) {
    grid-column: 4;
    grid-row: 3;
}
.bottom-box .tech-item:nth-of-type(4) {
    grid-column: 2;
    grid-row: 4;
}
.bottom-box .tech-item:nth-of-type(5) {
    grid-column: 1;
    grid-row: 5;
    text-align: right;
}
.bottom-box .tech-item:nth-of-type(6) {
    grid-column: 3;
    grid-row: 2;
}

.tech-item {
    display: block;
    text-align: center;
}

.box-background {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: $orange;
    text-transform: uppercase;
    font-size: 3rem;
    opacity: 0.4;
    z-index: 1;
}