$darkBlue: #043d5d;
$blue: #449bb5;
$green: #68c39f;
$red: #e6353a;
$orange: #f47723;
$yellow: #f8c119;
$lightBlue: #60b9d4;
$basicFont: 'Raleway', sans-serif;
$headersFont: 'Montserrat', sans-serif;
$logoFont: 'Monoton', sans-serif;

@mixin basicFlex {
    display: flex;
    align-items: center;
    justify-content: center;
}