$darkBlue: #043d5d;
$blue: #449bb5;
$green: #68c39f;
$red: #e6353a;
$orange: #f47723;
$yellow: #f8c119;
$lightBlue: #60b9d4;
$basicFont: 'Raleway', sans-serif;
$headersFont: 'Archivo Black', sans-serif;
$logoFont: 'Monoton', sans-serif;